body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5  "黑体", tahoma, arial, \5b8b\4f53; }
body{ background:#000; color:#999999; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
ul, ol,li { list-style:none;  }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
fieldset, img { border:0; }
img{ width: 100%; }
button, input, select, textarea { font-size:100%; outline: none; }
table { border-collapse:collapse; border-spacing:0; }
/* Common */
.fl { float:left; display: inline; }
.fr { float:right; display: inline; }
.clear { clear:both; }
/*万能闭合*/
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
.clearfix {display:block;}
.w100{ width:100%}
.hide{display: none; }
.wrap{ position: relative;}